span i {
    font-size: 0.9rem; /* Giảm kích thước icon */
}

.lbl-partner{
    font-size: 1rem !important;
    color: #1d1a1a !important;
  }

  .lbl-inline{
    display: inline; 
    margin-right: 5px;
  }

  .p-inline{
    display: inline; margin: 0;
    font-size: 0.9rem;
  }
  