<div class="container-fluid" style="padding-top: 50px;">
    <div class="d-flex flex-column align-items-left justify-content-center" style="min-height: 50px; margin-top: -48px;">
      <div class="d-inline-flex" style="font-size: 1rem; font-weight: 500; color: black; margin-left: 50px;">
        <p class="m-0"><a routerLink="/" routerLinkActive="active" class="nav-link" style="cursor: pointer; padding-right: 5px; padding-left: 5px;" title="Return Home">Home</a></p>
        <p class="m-0 px-2 pt-2 " style="padding-left: -10px;">></p>
        <p class="m-0 pt-2 text-primary">PaymentSuccess</p>
      </div>
    </div>
  </div>
<div class="text-center">
    <h2>Thanh toán thành công!</h2>
    <p>Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn đang được xử lý.</p>
    <button class="btn btn-primary " routerLink="/" style="border-radius: 10px;">Quay lại Trang chủ</button>
  </div>